.appBar{
    padding-top: 8px;
    padding-bottom: 8px;
}

.grow{
    flex-grow: 0;
}

.linkAppBarLogo{
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
.list{
    width: 250px;
}
.sectionDesktop{
    display: none;
}

.sectionMobile{
    display: flex;
    flex-grow: 1;
}

@media screen and (min-width: 960px) {
    .grow{
        flex-grow: 1;
    }
    .sectionDesktop{
        display: flex;
    }
    .sectionMobile{
        display: none;
    }
}