body{
  margin: 0;
}

.container-mt{
  margin-top: 30px;
}

.card{
  padding: 30px;
}

.avatar{
  background-color: #0f80aa !important;
  width: 80px !important;
  height: 80px !important;
}

.icon{
  font-size: 60px !important;
}

.form{
  margin-top: 40px !important;
  margin-bottom: 10px !important;
}

.grid-mb{
  margin-bottom: 20px !important;
}
.link{
  margin-top: 8px !important;
  font-size: 1rem;
  font-family: 'Roboto';
  line-height: 1.5;
  color: #0f80aa;
  text-decoration: none;
}
.text_title{
  font-weight: 600;
  color: #494949;
  margin-bottom: 10px;
}
.text_detail{
  font-weight: 500;
  color: #494949;
  margin-bottom: 5px;
}
.papper_padding{
  padding: 20px;
}

.divider{
  margin-top: 12px;
  margin-bottom: 12px;
}
.table{
  border: 1px  solid #e0e0e0;
}
.linkAppBarDesktop{
  display: inline-flex;
  align-items: center;
  padding: 6px 16px;
  color: inherit;
  text-decoration: none;
}
.mr{
  margin-right: 3px;
}
.listItemIcon{
  min-width: 35px;
}
.buttonIcon{
  font-size: 14px;
  padding: 0;
}
.listItem{
  padding: 0;
}
.avatar_profile_app_bar{
  margin-right: 8px;
  background-color: #f2f2f2;
}
.iconDelivered{
  color: green;
  font-weight: 900;
}
.iconNotDelivered{
  color: red;
  font-weight: 900;
}
.checkBox{
  display: block;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btnAdd{
  float: right;
}
.avatar_product{
  width: 175px !important;
  height: 175px !important;
  background-color: #f2f2f2 !important;
}
.image-upload-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
}
.btn-upload-image{
  margin-top: 5px;
}
.linkAppBarMobile{
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  color: inherit;
  text-decoration: none;
}
.form-control{
  margin: 12px !important;
  min-width: 120px !important;
}