body{
  margin: 0;
}

.container-mt{
  margin-top: 30px;
}

.card{
  padding: 30px;
}

.avatar{
  background-color: #0f80aa !important;
  width: 80px !important;
  height: 80px !important;
}

.icon{
  font-size: 60px !important;
}

.form{
  margin-top: 40px !important;
  margin-bottom: 10px !important;
}

.grid-mb{
  margin-bottom: 20px !important;
}
.link{
  margin-top: 8px !important;
  font-size: 1rem;
  font-family: 'Roboto';
  line-height: 1.5;
  color: #0f80aa;
  text-decoration: none;
}
.text_title{
  font-weight: 600;
  color: #494949;
  margin-bottom: 10px;
}
.text_detail{
  font-weight: 500;
  color: #494949;
  margin-bottom: 5px;
}
.papper_padding{
  padding: 20px;
}

.divider{
  margin-top: 12px;
  margin-bottom: 12px;
}
.table{
  border: 1px  solid #e0e0e0;
}